@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");

:root {
  --darkblue: #2e323f;
  --darkgrey: #3b4050;
  --lightgrey: #6f737f;
  --white: #ffffff;
  --beige: #a59678;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: var(--darkblue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 18px;
  color: rgb(255, 253, 253);
  text-decoration: none;
  font-weight: 700;
  font-family: "Oswald";
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 1.6rem;
}
.nav a {
  font-size: 18px;
  font-family: "Oswald";
  color: #fbf5f5;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
  text-transform: uppercase;
}

.nav__link--button {
  background-color: var(--beige);
  color: #000000;
  padding: 0.25em 1em;
  border-radius: 10em;
}
.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
  font-family: "Oswald";
  font-size: 24px;
  background-color: var(--beige);
  padding: 0.75em 2em;
  border-radius: 100px;
}

.hero {
  padding: 100px 0;
  background-color: var(--darkgrey);
  color: #fff;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;

  text-align: center;
  border: 5px solid #e11717;
}

.col1 {
  display: flex;
  border: 5px solid red;
}

.hero__text {
  font-size: 90px;
  font-family: "Oswald";
}

.hero p {
  margin-bottom: 3em;
}

.box1,
.box2,
.box3 {
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-family: "Oswald";
  font-size: 30px;
  color: var(--beige);
  gap: 30px;
}

.row_text p {
  font-family: "Monserrat";
  font-size: 18px;
  color: #000000;
  padding: 20px;
}

.section1 {
  display: flex;
  gap: 30px;
  background-color: rgb(228, 228, 221);
  padding: 80px 0;
}

.main {
  text-align: left;
  padding: 0;
  width: 50%;
  align-items: end;
  font-family: "Oswald", "Monserrat";
  font-size: 36px;
}

main p {
  font-size: 21px;
  font-family: "Monserrat";
}

main h3 {
  font-size: 36px;
  font-family: "Oswald", "Monserrat";
  color: var(--beige);
}

.img {
  width: 100%;
}
