@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Poppins:wght@500;700&family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --beige: #f3eed9;
  --brown: #824936;
  --darkgreen: #222c2a;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1,
h2 {
  font-family: "Playfair Display" serif;
  font-weight: 900;
}

.container {
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
}
