@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Poppins:wght@500;700&family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --beige: #f3eed9;
  --brown: #824936;
  --darkgreen: #222c2a;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1,
h2 {
  font-family: "Playfair Display" serif;
  font-weight: 900;
}

.container {
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
}

header {
  background-color: var(--beige);
  padding: 150px 0;
  text-align: center;
}

.hero {
  max-width: 800px;
  margin: 0 auto;
}

header p {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;

  margin-bottom: 16px;
}
h1 {
  font-size: 60px;
  color: var(--brown);
  text-align: center;
  line-height: 1.1;
}
